body{
    height:100vh;
    background-image:  linear-gradient( rgb(227, 117, 227), rgb(255,255,255)) 
}

.logo{
    display: block;
    margin:auto;
    width:50px;
    height:50px;
}

h1{
    margin-top: 12px;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    max-width: 900px;
    background-color: rgb(82, 154, 154);
    margin: auto;
    height: 60vh;
    padding:32px;
    overflow-y: scroll;
    margin-bottom: 22px;
}

.message{
    background-color: grey;
    width: 24%;
    padding:10px;
    margin:17px 5px;
    border:  2px solid ;
    border-radius: 5px;
}

.left{
    float:left;
    clear: both;
}

.right{
    float: right;
    clear: both;

}

#send-container{
    display:block;
    margin:auto;
    text-align: center;
    max-width: 1050px;
    width : 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

#messageInp{
    width:80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn{
    width:9%;
    cursor: pointer;
    border:2px solid black;
    border-radius: 6px;
    height:37px ;
    
    
}